*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #101828;
  --white: #FFFFFF;
  --blue: #3470FF;
  --dark-blue: #0B44CD;
  --gray: #8D929A;
  --dark-white: #F7F7F7; 
  --light-gray: #DADDE1;
  --head-white: #F2F4F7;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
