.btn {
    width: 156px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--black);
    font-family: Manrope, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    transition: border 0.3s ease;
    display: block;
    margin: 0 auto 124px auto;
}

.btn:hover{
    border: 1px solid var(--dark-blue);
}